
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Stock tracker</title>
        
</script>
        <style>
          html {
            width: 100%;
            height: 100%;
          }
          body {
            width: 90%;
            height: 100%;
            margin: auto;
          }
        </style>
    </head>
    <body>
        
        <div class="general-info">
			<h4> Stock tracker:  Closing price data for the last month  </h4>
        </div>
        
		<form action='plot' method="POST">
		Search Quandl WIKI database by symbol:
		<input type="text" name="myvar">
		<input type="submit" name="my-form" value="Send">
		</form>
		
    </body>
</html>